.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  color: #fff;
  background-color: #f42e04 !important;
  border-color: #f42e04 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 .2rem #ff0f0080;
}

